@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden;
}

body {
  @apply bg-background text-white font-body overflow-x-hidden;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-signin {
  background-color: #0c0a18;
  background-image: radial-gradient(circle at 80% 20%, #1a2049, transparent 40%),
    radial-gradient(circle at 20% 80%, #2a3a8a, transparent 40%);
}
